body {
     background-color: rgba(9, 173, 77, 0.575);
     font: normal 16px 
   
}
img{ 
     border-radius: 20px;
  
    
}

h1{ 
    color:black;
    text-align: center;
    
}
h2{
    margin-top: 10px;
    text-align: center;
}

p {
    
    text-align:justify
    font-style: italic;
    text-indent: 30px; //Justificar texto
}
